<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> hola <%= @user_who_likes %></h1>
    <p>Le has dado like a  <%= @user_liked.name %> </p>
    
  </body>
</html>