/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.background_body {
 font-family: 'Open Sans', sans-serif; 
 background-image: url(https://farm8.staticflickr.com/7377/9591869702_5210a177bf_h.jpg);
}

#thumbnailStyle, #row_texto_out_side_thumbnail, .thumbnail_log_in {

  text-align: center;  
 
  font-style: bold;
}



.col_texto_out_side_thumbnail{
       font-size: 25px; 
      
}


